@namespace LogJoint.Wasm.UI

<div class='tabs-control @Class'>
    <div class='tab-captions'>
        <button class="@(selectedTab == 0 ? "checked" : "")" @onclick="@(e => SetSelectedTab(0))">Log Sources</button>
        <button class="@(selectedTab == 1 ? "checked" : "")" @onclick="@(e => SetSelectedTab(1))">Bookmarks</button>
        <button class="@(selectedTab == 2 ? "checked" : "")" @onclick="@(e => SetSelectedTab(2))">Search</button>
        <button class="@(selectedTab == 3 ? "checked" : "")" @onclick="@(e => SetSelectedTab(3))">Postprocessing</button>
        <button class="@(selectedTab == 4 ? "checked" : "")" @onclick="@(e => SetSelectedTab(4))">Debug</button>
    </div>
    @switch (selectedTab)
    {
        case 0:
            <LogSourcesManager Class="tab-content" />
            break;
        case 1:
            <h3 class="tab-content">Bookmarks</h3>
            break;
        case 2:
            <h3 class="tab-content">Search</h3>
            break;
        case 3:
            <PostprocessingTabPage Class="tab-content" />
            break;
        case 4:
            <DebugTab Class="tab-content" />
            break;
    }
</div>

@code {
	[Parameter]
	public string Class { get; set; } = "";

	int selectedTab = 0;

	void SetSelectedTab(int value)
	{
        selectedTab = value;
	}
}
