@namespace LogJoint.Wasm.UI.Postprocessing
@using LogJoint.UI.Presenters.Postprocessing.StateInspectorVisualizer

<div class="objects-tree @Class">
    <div class="toolbar">Objects:</div>
    <TreeView Class="the-tree" Root="@ObjectsTreeRoot"
              OnSelect="@(nodes => ViewModel.OnSelect(nodes.OfType<IObjectsTreeNode>().ToArray()))"
              OnExpand="@(node => ViewModel.OnExpandNode(node as IObjectsTreeNode))"
              OnCollapse="@(node => ViewModel.OnCollapseNode(node as IObjectsTreeNode))"/>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public IViewModel ViewModel { get; set; }

    [Parameter]
    public IObjectsTreeNode ObjectsTreeRoot { get; set; }
}
