@using LogJoint.UI.Presenters.Postprocessing.StateInspectorVisualizer
@namespace LogJoint.Wasm.UI.Postprocessing
@inject IJSRuntime jsRuntime

<div class=@ResizerClass @ref="resizerElement"></div>
<div class='history @Class' @ref="element">
    <div class="toolbar">
        <div>Change history:</div>
        <div class="resizer" @ref="toolBarResizerElement">::::::</div>
    </div>
    <ListView Class="the-list"
              Items="@Items"
              OnSelect="@(items => ViewModel.OnChangeHistoryChangeSelection(items.OfType<IStateHistoryItem>()))"
              OnDoubleClick="@(item => ViewModel.OnChangeHistoryItemDoubleClicked((IStateHistoryItem)item))">
        <ItemTemplate>
            @{var item = (IStateHistoryItem)context;}
            @{var f = FocusedMessagePositionInChangeHistory; }
            @{var focusedMarkClass =
                      f == null ? "" :
                      f.Item2 == item.Index + 1 ? (f.Item1 != f.Item2 ? "f" : "f l") :
                      (f.Item1 == 0 && f.Item2 == 0 && item.Index == 0) ? "f r" :
                      "";}
            <div class="@(IsItemBookmarked(item) ? "b" : "")"></div>
            <div class="@focusedMarkClass"></div>
            <div>@item.Time</div>
            <div>@item.Message</div>
        </ItemTemplate>
    </ListView>
</div>

@code {
    private ElementReference resizerElement, element, toolBarResizerElement;

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string ResizerClass { get; set; } = "";

    [Parameter]
    public IReadOnlyList<IStateHistoryItem> Items { get; set; }

    [Parameter]
    public Predicate<IStateHistoryItem> IsItemBookmarked { get; set; }

    [Parameter]
    public Tuple<int, int> FocusedMessagePositionInChangeHistory { get; set; }

    [Parameter]
    public IViewModel ViewModel { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("logjoint.resize.initNSResizer",
            resizerElement, element, /*inverse=*/true, /*relativeToParent=*/true);
        await jsRuntime.InvokeVoidAsync("logjoint.resize.initNSResizer",
            toolBarResizerElement, element, /*inverse=*/true, /*relativeToParent=*/true);
    }
}
