@namespace LogJoint.Wasm.UI.Postprocessing
@using LogJoint.UI.Presenters.Postprocessing.StateInspectorVisualizer

<div class="objects-tree @Class">
    <div class="toolbar">Objects:</div>
    <TreeView Class="the-tree" NodeClass="si-node" Root="@ObjectsTreeRoot"
              OnSelect="@(nodes => ViewModel.OnSelect(nodes.OfType<IObjectsTreeNode>().ToArray()))"
              OnExpand="@(node => ViewModel.OnExpandNode(node as IObjectsTreeNode))"
              OnCollapse="@(node => ViewModel.OnCollapseNode(node as IObjectsTreeNode))">
        <NodeTemplate>
            @{var node = (IObjectsTreeNode)context;}
            @{var paintInfo = PaintNode(node, getPrimaryPropValue: true);}
            @{var coloringClass = 
                node.IsSelected ? "" : 
                paintInfo.Coloring == NodeColoring.Alive ? "l" : 
                paintInfo.Coloring == NodeColoring.Deleted ? "d" : 
                ""; }
            <span class="n @coloringClass">@context.ToString()</span>
            @if (!string.IsNullOrEmpty(paintInfo.PrimaryPropValue))
            {
                <span class="p @coloringClass"><span>@paintInfo.PrimaryPropValue</span></span>
            }
        </NodeTemplate>
    </TreeView>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public IViewModel ViewModel { get; set; }

    [Parameter]
    public IObjectsTreeNode ObjectsTreeRoot { get; set; }

    [Parameter]
    public PaintNodeDelegate PaintNode { get; set; }
}
