@namespace  LogJoint.Wasm.UI
@using LogJoint.UI.Presenters.Reactive

<div class="tree-node @Class">
    <div class="node">
        <div class="triangle">@(Node.Children.Count == 0 ? " " : (Node.IsExpanded ? "▼" : "▲"))</div>
        <input type="checkbox" />
        <div class="contents">@(Node.ToString())</div>
    </div>
    @foreach (var child in Node.Children)
    {
        <TreeNode Node="@child" Class="child" @key="@child.Key" />
    }
</div>

@code {
	[Parameter]
	public ITreeNode Node { get; set; }

	[Parameter]
	public string Class { get; set; } = "";
}
