@namespace LogJoint.Wasm.UI
@using LogJoint.UI.Presenters.Reactive
@inject TreeStyles styles

<div class="node @($"c{Level}") @(Node.IsSelected ? "selected" : "")" @onclick="TrySelectNodeByMouse" @onclick:stopPropagation>
    <div class="triangle" @onclick="TryExpandCollapseByMouse" @onclick:stopPropagation>
        @(Node.Children.Count == 0 ? " " : (Node.IsExpanded ? "▼" : "▶"))
    </div>
    <div class="contents @NodeClass">@NodeTemplate(Node)</div>
</div>
@if (Node.IsExpanded)
{
    @foreach (var child in Node.Children)
    {
        <TreeNode Node="@child" Owner="@Owner" @key="@child.Key" Level="@(Level + 1)" NodeClass="@NodeClass">
            <NodeTemplate>@NodeTemplate(context)</NodeTemplate>
        </TreeNode>
    }
}

@code {
    [Parameter]
    public ITreeNode Node { get; set; }

    [Parameter]
    public TreeView Owner { get; set; }

    [Parameter]
    public int Level { get; set; }

    [Parameter]
    public RenderFragment<ITreeNode> NodeTemplate { get; set; }

    [Parameter]
    public string NodeClass { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        await styles.EnsureNodeStyleExists(Level);
    }

    void TrySelectNodeByMouse(MouseEventArgs e)
    {
        Owner?.TrySelectNode(Node);
    }

    void TryExpandCollapseByMouse(MouseEventArgs e)
    {
        if (Node.IsExpanded)
            Owner?.TryCollapseNode(Node);
        else
            Owner?.TryExpandNode(Node);
    }
}
