@namespace  LogJoint.Wasm.UI
@using LogJoint.UI.Presenters.Reactive

<div class="tree-node @Class @(Node.IsSelected ? "selected" : "")" @onclick="TrySelectNodeByMouse" @onclick:stopPropagation>
    <div class="node">
        <div class="triangle" @onclick="TryExtractCollapseByMouse" @onclick:stopPropagation>
            @(Node.Children.Count == 0 ? " " : (Node.IsExpanded ? "▼" : "▲"))
        </div>
        <div class="contents">@(Node.ToString())</div>
    </div>
    @if (Node.IsExpanded)
    {
        @foreach (var child in Node.Children)
        {
            <TreeNode Node="@child" Class="child" Owner="@Owner" @key="@child.Key" />
        }
    }
</div>

@code {
    [Parameter]
    public ITreeNode Node { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public TreeView Owner { get; set; }

    void TrySelectNodeByMouse(MouseEventArgs e)
    {
        Owner?.TrySelectNode(Node);
    }

    void TryExtractCollapseByMouse(MouseEventArgs e)
    {
        if (Node.IsExpanded)
            Owner?.TryCollapseNode(Node);
        else
            Owner?.TryExpandNode(Node);
    }
}
