@namespace  LogJoint.Wasm.UI
@using System.Collections.Immutable 

<div class="tabs @Class">
    @{var index = 0;}
    @foreach (var tab in Tabs)
    {
        var captureIndex = index;
        <button @onclick="@(e => OnSelect?.Invoke(captureIndex))" class="@(index == SelectedTab ? "selected" : "") @tab.Class" title=@tab.Tooltip>
            @if (tab.Progress != null)
            {
                if (tab.Progress.Value.Value.HasValue)
                {
                    <CircularProgress Value=@(tab.Progress.Value.Value.Value) Class="progress" />
                }
                else
                {
                    <CircularEndlessProgress Class="progress" />
                }
            }
            @tab.Caption
        </button>
        ++index;
    }
</div>

@code {
    public struct ProgressInfo
    {
        // Is not null the progress icon shows a particular progression value.
        // If null, the progress icon shows never ending looped progression.
        public double? Value;
    }

    public struct TabInfo
    {
        public string Caption;
        public string Tooltip;
        public string Class;
        // Progress icon is visible if the field is not null.
        public ProgressInfo? Progress;
    };

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public int SelectedTab { get; set; } = 0;

    [Parameter]
    public IReadOnlyList<TabInfo> Tabs { get; set; } = ImmutableList<TabInfo>.Empty;

    [Parameter]
    public Action<int> OnSelect { get; set; }
}
