@namespace  LogJoint.Wasm.UI
@using System.Collections.Immutable 

<div class="tabs @Class">
    @{var index = 0;}
    @foreach (var tab in Tabs)
    {
        var captureIndex = index;
        <button @onclick="@(e => OnSelect?.Invoke(captureIndex))" class="@(index == SelectedTab ? "selected" : "") @tab.Class" title=@tab.Tooltip>@tab.Caption</button>
        ++index;
    }
</div>

@code {
    public struct TabInfo
    {
        public string Caption;
        public string Tooltip;
        public string Class;
    };

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public int SelectedTab { get; set; } = 0;

    [Parameter]
    public IReadOnlyList<TabInfo> Tabs { get; set; } = ImmutableList<TabInfo>.Empty;

    [Parameter]
    public Action<int> OnSelect { get; set; }
}
