@namespace  LogJoint.Wasm.UI
@using LogJoint.UI.Presenters.Reactive
@using Microsoft.JSInterop
@inject JsInterop jsInterop

<ul class="list nice-scroll @Class" @onkeydown="HandleKey" @ref="ListRef">
    @{var itemIndex = 0;}
    @foreach (var item in Items)
    {
        var itemIndexCopy = itemIndex;
        <li @key="@item.Key" class="@(item.IsSelected ? "selected" : "") @ItemClass"
            @onmousedown="@(e => SelectByMouse(itemIndexCopy, e.Detail > 1))"
            tabindex="@(focused == itemIndex ? 0 : -1)">
            @if (ItemTemplate != null)
            {
                @ItemTemplate(item);
            }
            else
            {
                @item.ToString()
            }
        </li>
        itemIndex++;
     }
</ul>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }
    private ElementReference ListRef { get; set; }
    private int focused;

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public IReadOnlyList<IListItem> Items { get; set; }

    [Parameter]
    public Action<IListItem[]> OnSelect { get; set; }

    [Parameter]
    public Action<IListItem> OnDoubleClick { get; set; }

    [Parameter]
    public RenderFragment<IListItem> ItemTemplate { get; set; } // todo: pass focus to item template

    [Parameter]
    public string ItemClass { get; set; } = "";

    public void TrySelectItem(IListItem item)
    {
        OnSelect?.Invoke(new[] { item });
    }

    void SelectByMouse(int i, bool doubleClick)
    {
        MaybeSetSelected(i);
        if (doubleClick)
        {
            OnDoubleClick?.Invoke(Items[i]);
        }
    }

    void HandleKey(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "ArrowUp")
        {
            MaybeSetSelected(Math.Max(0, focused - 1));
        }
        else if (eventArgs.Key == "ArrowDown")
        {
            MaybeSetSelected(Math.Min(Items.Count - 1, focused + 1));
        }
    }

    async void MaybeSetSelected(int value)
    {
        TrySelectItem(Items[value]);

        if (focused != value)
        {
            focused = value;
            await JSRuntime.InvokeVoidAsync("logjoint.list.scrollListItemIntoView", ListRef, focused);
            await JSRuntime.InvokeVoidAsync("logjoint.list.focusSelectedListItem", ListRef);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsInterop.Keyboard.AddDefaultPreventingHandler(ListRef, "ArrowUp", "ArrowDown");
        }
    }
}
