@namespace LogJoint.Wasm.UI
@using LogJoint
@using LogJoint.UI.Presenters.BookmarksList
@implements IDisposable
@implements IView
@inject LogJoint.Wasm.ViewModelObjects viewProxies

<ListView Items="@viewModel.Items" OnSelect="@(items => viewModel.OnChangeSelection(items.OfType<IViewItem>()))" 
          Class="@ListClass" ItemClass="bookmarks-list-item"
          OnDoubleClick="@(items => viewModel.OnViewDoubleClicked())">
    <ItemTemplate>
        @{var item = (IViewItem)context;}
        <div>@(item.Delta ?? item.AltDelta)</div>
        <div>@item.Text</div>
    </ItemTemplate>
</ListView>

@code {
    private IViewModel viewModel;
    private ISubscription subscription;

    [Parameter]
    public string Class { get; set; } = "";

    protected override void OnInitialized()
    {
        viewProxies.BookmarksList.SetComponent(this);

        subscription = viewModel.ChangeNotification.CreateSubscription(Updaters.Create(
            () => (viewModel.Items, viewModel.FocusedMessagePosition),
            _ => StateHasChanged()
        ));
    }

    public void Dispose()
    {
        viewProxies.BookmarksList.SetComponent(null);
        subscription?.Dispose();
    }

    void IView.SetViewModel(IViewModel value)
    {
        viewModel = value;
    }

    string ListClass => $"bookmarks-list {Class}";
}