@namespace LogJoint.Wasm.UI
@using LogJoint
@using LogJoint.UI.Presenters.QuickSearchTextBox
@implements IDisposable
@implements IView
@inject JsInterop jsInterop

<div class='quick-search-textbox @Class' @onfocusout="HandleFocusOut" @ref="ContainerRef">
    <input value="@ViewModel.Text" @oninput="@(e => ViewModel.OnChangeText(e.Value.ToString()))" @onkeydown="HandleKeyDown" @ref="InputRef" />
    @if (ViewModel.ClearTextIconVisible)
    {
        <button class="clear-button" @onclick="@ViewModel.OnClearTextIconClicked">✕</button>
    }
    @if (ViewModel.SuggestionsListAvailable)
    {
        <button class="suggesions-button @(ViewModel.SuggestionsListVisibile ? "expanded" : "collapsed")" @onclick="@ViewModel.OnDropDownButtonClicked"></button>
    }
</div>

@code {
    private ISubscription subscription;
    [Inject]
    private IJSRuntime JSRuntime { get; set; }
    private ElementReference InputRef { get; set; }
    private ElementReference ContainerRef { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public IViewModel ViewModel { get; set; }

    public ValueTask FocusAsync() => InputRef.FocusAsync();

    protected override void OnInitialized()
    {
        ViewModel.SetView(this);

        subscription = ViewModel.ChangeNotification.CreateSubscription(Updaters.Create(
            () => (ViewModel.Text, ViewModel.SuggestionsListAvailable, ViewModel.SuggestionsListVisibile, ViewModel.ClearTextIconVisible),
            _ => StateHasChanged()
        ));
    }

    public void Dispose()
    {
        ViewModel.SetView(null);
        subscription?.Dispose();
    }

    void IView.SetViewModel(IViewModel value)
    {
        ViewModel = value;
    }

    async void IView.ReceiveInputFocus()
    {
        await InputRef.FocusAsync();
    }

    void IView.SelectAll()
    {
        // todo
    }

    void IView.SelectEnd()
    {
        // todo
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsInterop.Keyboard.AddDefaultPreventingHandler(InputRef, "ArrowUp", "ArrowDown");
        }
    }

    void HandleKeyDown(KeyboardEventArgs e)
    {
        Key key =
            (e.Key == "Enter" && e.ShiftKey) ? Key.EnterWithReverseSearchModifier :
            e.Key == "Enter" ? Key.Enter :
            e.Key == "Escape" ? Key.Escape :
            (e.Key == "ArrowDown" && e.AltKey) ? Key.ShowListShortcut :
            (e.Key == "ArrowUp" && e.AltKey) ? Key.HideListShortcut :
            e.Key == "ArrowDown" ? Key.Down :
            e.Key == "ArrowUp" ? Key.Up :
            e.Key == "PageDown" ? Key.PgDown :
            e.Key == "PageUp" ? Key.PgUp :
            Key.None;
        if (key != Key.None)
        {
            ViewModel.OnKeyDown(key);
        }
    }

    async void HandleFocusOut()
    {
        await Task.Yield(); // skip one JS frame to let the new element be focused before checking if focus left this component.
        if (!await jsInterop.Keyboard.IsFocusWithin(ContainerRef))
            ViewModel.OnLostFocus();
    }
}